:root {
    --main-box-shadow: 1px 1px 3px 0px rgba(51, 51, 51, 0.15);
    --white-font: #efefef;
    --dark-grey-font: #333;
    --grey-font: #666;
    --light-grey-font: #bbb;
    --red: #cc0000;
    --darker-red: #bb0000;
    --transition-time: 300ms;
}

* {
    box-sizing: border-box;
    /* font-size: 33px; */
    margin: 0;
    padding: 0;
}

/*#region BASE TEMPLATE STYLES */

nav {
    background: var(--white-font);
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: var(--dark-grey-font);
    padding: 10px 15px;
    text-decoration: none;
    transition: var(--transition-time);
}

nav a:hover {
    background: var(--dark-grey-font);
    color: var(--white-font);
}

.outer-container {
    display: flex;
    justify-content: space-around;
    padding: 25px 0 0 0;
    width: 100%;
}

/*#endregion BASE TEMPLATE STYLES */

/*#region HOME TEMPLATE STYLES */

.putt-avgs-outer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.putt-avgs-outer-container h2 {
    padding: 0 0 10px 0;
    text-align: center;
}

.putt-avgs-inner-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.putt-avg-container {
    box-shadow: 1px 1px 3px 0px rgba(51, 51, 51, 0.15);
    padding: 5px 0;
    text-align: center;
    width: 36%;
}

input[type=submit]:hover {
    cursor: pointer;
}

.end-puttsesh-submit {
    background: var(--red);
}

/*#endregion END HOME TEMPLATE STYLES */

/*#region NEW SESSION STYLES */

.puttsesh-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.puttsesh-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    padding: 10px 0;
    text-align: center;
}

.puttsesh-form input[type=submit], .putt-page-form input[type=submit],
.save-putt-button {
    border-radius: 2px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px 0;
}

/*#endregion END NEW SESSION STYLES */

/*#region CURRENT SESSION TEMPLATE STYLES */

.cur-dist-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    padding: 10px 0;
    /* text-align: center; */
}

.outer-container.putt-page {
    flex-direction: column;
    align-items: center;
}

.putt-page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.putt-save-container {
    transition: background-color 300ms;
}

.putt-save-success {
    display: none;
    font-size: 1.5rem;
    width: 0px;
    transition: 300ms;
    /* background: #009900; */
    /* border-radius: 3px; */
    /* padding: 7px 20px; */
}

/*#endregion CURRENT SESSION TEMPLATE STYLES */

/*#region VIEW SESSIONS */

.puttsesh-container {
    align-items: center;
    flex-direction: column;
}

.puttsesh-link {
    border-radius: 2px;
    box-shadow: var(--main-box-shadow);
    color: var(--dark-grey-font);
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    transition: var(--transition-time);
}

.puttsesh-link:hover {
    color: var(--white-font);
    background: var(--grey-font);
}

/*#endregion VIEW SESSSIONS */

/*#region VIEW SINGLE SESSION */

.single-putts-outer-container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.single-putt-container {
    align-items: center;
    box-shadow: var(--main-box-shadow);
    flex-direction: column;
    padding: 10px 0 20px;
    width: 40%;
}

.single-putt-info {
    padding: 0 0 20px;
}

.delete-button {
    background: var(--red);
    border: var(--darker-red) outset 1px;
    border-radius: 2px;
    color: var(--dark-grey-font);
    padding: 5px 10px;
    transition: var(--transition-time);
}

.delete-button:hover {
    background: #990000;
    border-color: #770000;
    color: var(--white-font);
    cursor: pointer;
}

/*#endregion VIEW SINGLE SESSION */