:root {
    --main-box-shadow: 1px 1px 3px 0px rgba(51, 51, 51, 0.15);
    --white-font: #efefef;
    --dark-grey-font: #333;
    --grey-font: #666;
    --light-grey-font: #ddd;
    --red: #cc0000;
    --darker-red: #bb0000;
    --transition-time: 300ms;

    --purple: #6A4973;
    --nude: #E2D9CA;
    --blue-gray: #4A94A8;
    --dark-blue: #2B293C;
}

* {
    /* background: var(--dark-grey-font); */
    box-sizing: border-box;
    color: var(--white-font);
    font-family: 'Montserrat';
    font-weight: normal;
    /* font-size: 33px; */
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark-grey-font);
}

/*#region BASE TEMPLATE STYLES */

nav {
    /* background: var(--dark-purple); */
    background: var(--dark-grey-font);
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

nav a {
    color: var(--white-font);
    padding: 10px 15px;
    text-decoration: none;
    transition: var(--transition-time);
}

nav a:hover {
    background: var(--blue-gray);
    color: var(--light-grey-font);
}

.outer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto;
    width: 80vw; */
}

/*#endregion BASE TEMPLATE STYLES */

/*#region HOME TEMPLATE STYLES */

.putt-avgs-outer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
}

.putt-avgs-outer-container h2 {
    background: var(--purple);
    padding: 25px 0;
    text-align: center;
    width: 100vw;
}

.putt-avgs-inner-container {
    background: var(--blue-gray);
    width: 100%;
}

.putt-avg-outer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--dark-grey-font);
    width: 100%;
}

.putt-avg-container {
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    padding: 15px 0;
    text-align: center;
    width: 50%;
}

input[type=submit]:hover {
    cursor: pointer;
}

.end-puttsesh-submit {
    background: var(--red);
}

/*#endregion END HOME TEMPLATE STYLES */

/*#region NEW SESSION STYLES */

.puttsesh-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.puttsesh-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    padding: 10px 0;
    text-align: center;
}

.puttsesh-form input[type=submit], .putt-page-form input[type=submit],
.save-putt-button {
    border-radius: 2px;
    color: var(--dark-grey-font);
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px 0;
}

/*#endregion END NEW SESSION STYLES */

/*#region CURRENT SESSION TEMPLATE STYLES */

/* .cur-dist-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    padding: 10px 0;
    text-align: center;
} */

/* .outer-container.putt-page {
    flex-direction: column;
    align-items: center;
} */

/* .putt-page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .putt-save-container {
    transition: background-color 300ms;
    padding: 0;
    margin: 20px;
} */

/* .putt-save-success {
    display: none;
    font-size: 1.5rem;
    text-align: center;
} */

/*#endregion CURRENT SESSION TEMPLATE STYLES */

/*#region VIEW SESSIONS */

.puttsesh-link {
    background: var(--purple);
    border-bottom: solid 1px var(--dark-grey-font);
    padding: 20px 0;
    text-decoration: none;
    transition: var(--transition-time);
    text-align: center;
    width: 100%;
}

.puttsesh-link:hover {
    color: var(--white-font);
    background: var(--blue-gray);
}

/*#endregion VIEW SESSSIONS */

/*#region VIEW SINGLE SESSION */

.view-single-header-container {
    background: var(--purple);
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    width: 100%;
}

.putts-container {
    width: 100%
}

.single-putts-container:nth-child(odd) {
    background: var(--blue-gray);
}

.single-putt-container:nth-child(even) {
    background: var(--purple);
}

.single-putt-container {
    align-items: center;
    background: var(--blue-gray);
    border-bottom: solid 1px var(--dark-grey-font);
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    transition: 300ms;
    width: 100%;
}

.single-putt-info {
    /* padding: 0 0 20px; */
    text-align: center;
}

.delete-button, .edit-button {
    border-radius: 2px;
    color: var(--dark-grey-font);
    padding: 5px 10px;
    transition: var(--transition-time);
}

.delete-button {
    background: var(--dark-blue);
    border: var(--purple) outset 1px;
    color: var(--white-font);
    margin: 20px 0 0 0;
}

.delete-button:hover {
    background: var(--purple);
    border-color: #770000;
    /* color: var(--dark-blue); */
    cursor: pointer;
}

/*#endregion VIEW SINGLE SESSION */