{% extends "base.jinja2" %}

{% block content %}
<div class='outer-container putt-page'>
    <div class="cur-dist-container">
        <h4>Current Distance</h4>
        <p>{{ distance }}</p>
    </div>
    <form method='POST' class='putt-page-form'>
        <label>
            Number of Putts Made
            <input type='number' name='no_putts' max="{{ no_putters }}" required>
        </label>

        <input name='action' type='submit' value='Submit Putts Made'>
    </form>

    <div class="putt-avgs-outer-container">
        <h2>Today's Averages</h2>
        <div class="putt-avgs-inner-container">
            {% for putt_avg in today_putt_avgs %}
                <div class='putt-avg-container'>
                    <h5>{{ putt_avg }}'</h5>
                    <p>{{ today_putt_avgs[putt_avg] }}%</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <form method='POST' class='putt-page-form'>
        <input name='action' type='submit' value='End Putting Session' class='end-puttsesh-submit'>
    </form>

    <form class='putt-page-form ajax-test-form' role='form'>
        <label>
            Number of Putts Made
            <input id='no_putts' type='number' name='no_putts' max="{{ no_putters }}" required>
        </label>
        <button class='test-ajax-button' type='button'>Test Ajax </button>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/current_puttsesh.js') }}"></script>
{% endblock scripts %}