{% extends "base.jinja2" %}

{% block content %}
<div class='outer-container putt-page'>
    <div class='outer-container'>
        <div class="cur-dist-container">
            <h4>Current Distance</h4>
            <p class='cur-dist'>{{ distance }}'</p>
        </div>
        <div class=cur-dist-container>
            <h4>No. Putters</h4>
            <p>{{ no_putters }}</p>
        </div>
    </div>
    <div class='outer-container putt-save-container'>
        <form class='putt-page-form save-putt-form' role='form'>
            <label>
                Number of Putts Made
                <select name='putts-made' class='putts-made'>
                    {% for i in range(no_putters + 1) %}
                        <option>{{ i }}</option>
                    {% endfor %}
                </select>
                {# <input type='number' name='no_putts' max="{{ no_putters }}" required> #}
            </label>

            {# <input name='action' type='submit' value='Submit Putts Made'> #}
            <button class='save-putt-button' type='button'>Save Putts</button>
        </form>
        <p class='putt-save-success'>Putts Saved</p>
    </div>

    <div class="putt-avgs-outer-container">
        <h2>Today's Averages</h2>
        <div class="putt-avgs-inner-container">
            {% for putt_avg in today_putt_avgs %}
                <div class='putt-avg-container'>
                    <h5>{{ putt_avg }}'</h5>
                    <p>{{ today_putt_avgs[putt_avg] }}%</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <form method='POST' class='putt-page-form'>
        <input name='action' type='submit' value='End Putting Session' class='end-puttsesh-submit'>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/current_puttsesh.js') }}"></script>
{% endblock scripts %}