{% extends "base.jinja2" %}

{% block content %}
<div class="outer-container">
    <h3>Today's Averages</h3>

    <div class="putt-avgs-outer-container">
        <div class='putt-avg-container'>
            <h5>18'</h5>
            <p>Avg goes here</p>
        </div>
        <div class='putt-avg-container'>
            <h5>21'</h5>
            <p>Avg goes here</p>
        </div>
        <div class='putt-avg-container'>
            <h5>24'</h5>
            <p>Avg goes here</p>
        </div>
        <div class='putt-avg-container'>
            <h5>27'</h5>
            <p>Avg goes here</p>
        </div>
        <div class='putt-avg-container'>
            <h5>30'</h5>
            <p>Avg goes here</p>
        </div>
        <div class='putt-avg-container'>
            <h5>33'</h5>
            <p>Avg goes here</p>
        </div>
        <div class='putt-avg-container'>
            <h5>18-33'</h5>
            <p>Avg goes here</p>
        </div>
    </div>


</div>
{% endblock content %}