{% extends "base.jinja2" %}

{% block content %}
<div class='outer-container puttsesh-container'>
    <div class='view-single-header-container'>
        <div>
            <h3>{{ single_session.date.strftime('%m/%d %I:%M%p') }}</h3>
            <p>No. Putters:
                <span class='no_putters'>{{ single_session.no_putters }}</span>
            </p>
        </div>
        <div puttsesh-id="{{ single_session.id }}">
            {% if session.get('current_sesh_id') != single_session.id %}
                <button class="delete-session-button">Delete Session</button>
            {% endif %}
        </div>
    </div>
    <div class='putts-container'>
        {% for num in range((putts|length) - 1, -1, -1) %}
            <div class='single-putt-container'>
                <div class='single-putt-info'>
                    <p>{{ num + 1 }}
                    <p>Distance: {{ putts[num].distance }}'</p>
                    <p><span class='putts-made-{{putts.id}}'>{{ putts[num].putts_made }}</span>/{{ single_session.no_putters}}
                        {{ ((putts[num].putts_made / single_session.no_putters) * 100) | int }}%
                    {# </p> #}
                </div>
                <div class='edit-delete-container'>
                    <div class='putt-edit-container' puttsesh-id="{{ single_session.id }}" putt-id="{{ putts[num].id }}">
                        <button class='edit-button'>Edit Putt</button>
                    </div>
                    <div class='putt-delete-container' puttsesh-id="{{ single_session.id }}" putt-id="{{ putts[num].id }}">
                        <button class="delete-button">Delete Putt</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/view_puttsesh_single.js') }}"></script>
{% endblock scripts %}